* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    position: sticky;
    border-bottom: 1px solid black;
}

#header img {
    width: 100px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
 
nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}


nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 8px 0;
    transition: all;
    transition-duration: 200ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav a:hover {
    color: orange;
    border-bottom: 1px solid black;
}

.home img {
    margin: 5px 5px;
    padding: 5px;
    border-bottom: 1px solid black;
}

.about {
    background-color: rgba(185, 184, 184, 0.358);
    font-size: 18px;
    margin: 10px 10px;
}

.visi-misi {
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 99, 71, 0.342);
    border-bottom: 1px solid black;

}

.visi-misi p {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 10px 10px;
}